# Virtual Environment
.venv/
__pycache__/
*.py[cod]

# Environment Variables
.env

# Data & vector DB
data/
vector_db/
*.sqlite3
*.bin
huggingface/
.cache/


# OS
.DS_Store

# Cache files
docs_cache/

