# RAG Framework & LangChain
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-text-splitters
langchain-google-genai

# Vector DB
chromadb

# LLM & Embedding (Local & API)
sentence-transformers
transformers              
bitsandbytes              
accelerate                
torch                     

# Data Processing & Parsing
pandas
opendartreader
pymupdf
pdfplumber
beautifulsoup4
lxml
python-dotenv

# Visualization
matplotlib
seaborn
wordcloud

# Evaluation
ragas
datasets