langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb
sentence-transformers
opendartreader
pymupdf
pandas
python-dotenv
beautifulsoup4
lxml
matplotlib
seaborn
wordcloud
pdfplumber
sentence-transformers