# RAG Framework & LangChain
langchain
langchain-community
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb

# LLM & Embedding
sentence-transformers
openai

# Data Processing & Parsing
pandas
opendartreader
pymupdf
pdfplumber
beautifulsoup4
lxml
python-dotenv

# Visualization
matplotlib
seaborn
wordcloud

# Evaluation
ragas
datasets